<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue</title>
    <link rel="stylesheet" href="/static/css/accueil.css" />
</head>
<body>
    {% include "navBar.html" %}
    <h2>
        Bienvenue sur notre site! (page pas finie)

    </h2>
    <div class="presentation">
        <div class="debut"><span class="Nom">Le Bonheur Est Dans Le Potager</span> a pour but d'aider à la gestion des jardins partagés.<br>
        Il permet de faire le lien entre les jardiniers, et permet une initiation 
        à la permaculture en vous suggérant des plantes qui poussent bien ensemble. <br>
        </div>

        <div class="blabla">
            <div class="gauche">

                <b>Le principe du site:</b><br>
                Chaque jardin est identifié par un nombre. Il a un référent et un ou plusieurs administrateurs: ce sont les personnes à contacter en cas de questions ou problème.<br>
                Les administrateurs peuvent créer des parcelles dans ces jardins ou en supprimer, et les attribuer à des jardiniers.<br>
                Si vous voulez faire partie d'un jardin, il faut donc contacter un administrateur pour qu'il vous attribue une parcelle.<br>
                Vous pourrez ensuite planter des plantes dans ces parcelles via l'onglet 'Mes Parcelles' et jardiner!
            </div>

            <div class="droite">
                
            </div>
        </div>
        <div class="credits">
            Site réalisé dans le cadre du projet PP2I à Télécom Nancy par: <br>
            Héléna Barbillon<br>
            Léo Fornoff<br>
            Mathis Mangold
        </div>
    </div>

</body>

</html>