<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/dico.css" />
    <title>Dico des plantes</title>
</head>
{% include "navBar.html" %}

<body>

    <div class="global">
        <h1>
            Recherchez une plante pour connaître ses affinités avec les autres plantes:
        </h1>
        <div class="case">

            <form action="/dico">

                <select name="num_plante">
                    {%for plante in plantes%}
                    <option>
                        {{plante[0]}} {{plante[1]}}
                    </option>
                    {%endfor%}
                </select>
                <input type="submit" value="Afficher les informations sur la plante">
            </form>

        </div>
        <div class="case_flex">
            <div class="case1">
                    <h2 class="case1">{{plante_cherchee[0][1]}}</h2>
            </div>

            <div class="case2">
                {%if amis%}
                <h2>Plantes amies:</h2>
                {%for i in amis%}
                <ul>{{i[0][2]}}</ul>
                {%endfor%}
                {%else%}
                <h2>Plantes amies:</h2>
                Cette plante n'a pas d'affinités particulière avec d'autres plantes.
                {%endif%}
            </div>

            <div class="case3">
                {%if ennemis%}
                <h2>Plantes ennemies:</h2>
                {%for i in ennemis%}
                <ul>{{i[0][2]}}</ul>
                {%endfor%}
                {%else%}
                <h2>Plantes ennemies:</h2>
                Cette plante n'a pas de plantes ennemies.
                {%endif%}
            </div>
        </div>
    </div>



</body>

</html>