<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/dico.css" />
    <title>Dico des plantes</title>
</head>
{% include "navBar.html" %}

<body>

    <h2>
        Recherchez une plante pour connaître ses affinités avec les autres plantes:
    </h2>
    <div class="global">

        <div class="case">

            <form action="/dico">

                <select name="num_plante">
                    {%for plante in plantes%}
                    <option>
                        {{plante[0]}} {{plante[1]}}
                    </option>
                    {%endfor%}
                </select>
                <input type="submit" value="Afficher">
            </form>

        </div>

        <div class="case">
            {{plante_cherchee[0][1]}}
        </div>

        <div class="case">

            {%if amis%}
            <h1>Plantes amies:</h1>
            {%for i in amis%}
            <ul>{{i[0][2]}}</ul>
            {%endfor%}
            {%endif%}
        </div>

        <div class="case">

            {%if ennemis%}
            <h1>Plantes ennemies:</h1>
            {%for i in ennemis%}
            <ul>{{i[0][2]}}</ul>
            {%endfor%}
            {%endif%}
        </div>

    </div>



</body>

</html>