<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les Jardiniers</title>
    <link rel="stylesheet" href="/static/css/users.css" />
</head>

<body>
    <div>
        <div class="nav">
            {% include "navBar.html" %}

            <div id="horizontal">
                <div id="vertical">
                    <div class="case">

                    
                    <div id="imgprof"></div>
                    <div id="affichagepropre">
                        
                        <ul id="nom"></ul>
                        <ul id="prenom"></ul>
                        <ul id="mail"></ul>
                        <ul id="iduser"></ul>
                        <ul id="statut"></ul>
                        <ul id="jardins"></ul>
                        <ul id="parcelles"></ul>
                    </div>
                </div>
                </div>
                <div id="vertical">
                    <h2>Les jardiniers:</h2>
                    <h3>Cliquez pour afficher un profil!</h3>

                    <table class="coord">

                        <tr>
                            <th>Noms</th>
                            <th>Statut</th>
                        </tr>
                        {%for data in data%}

                        <tr class="personne"
                            
                            onclick="afficherprofil('{{data[1]}}','{{data[2]}}','{{data[3]}}','{{data[0]}}','{{data[4]}}', '{{data[5]}}', '{{data[6]}}' )">
                            <td>{{data[2]}} {{data[1]}}</td></a>
                            <td>{{data[4]}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>

                <script>
                    var img = document.createElement("img");
                    function afficherprofil(nom, prenom, mail, iduser, statut, jardins, parcelles) {
                        
                        img.src = "static/images/icons/gardener.png";
                        img.style.width="20%";
                        img.style.marginBottom="3%";
            
                        var div = document.getElementById("imgprof");
                        div.appendChild(img);

                        document.getElementById('prenom').textContent = "Prénom: " + prenom;
                        document.getElementById('nom').textContent = "Nom: " + nom;
                        document.getElementById('mail').textContent = "Adresse mail: " + mail;
                        document.getElementById('iduser').textContent = "Identifiant: " + iduser;
                        document.getElementById('statut').textContent = "Statut: " + statut;
                        document.getElementById('jardins').textContent = "Jardins administrés: " + jardins;
                        document.getElementById('parcelles').textContent = "Jardine dans ces parcelles: " + parcelles;
                           
                    }
                </script>
</body>

</html>