<!DOCTYPE html>

<head>
	<title>Quick Start - Leaflet</title>
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
    <link rel="stylesheet" href="/static/css/map_meteo.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
</head>

<div class="Maps">
    <div id="map"></div>

    <div class="meteo">
        {%for i in range(0, 3) %}
        {% set jour = ["Aujourd'hui","Demain", "Après-demain"] %}
        <div class="daily">
                <b>{{jour[i]}}</b>
                <p class="tempm">{{weather[0][i]}} °C min</p>
                <p class="tempM">{{weather[1][i]}} °C max</p>
                <p class="rain">{{weather[2][i]}} mm de pluie</p>
            </div>
        {%endfor%}
    </div>
</div>


    <!-- Include the Leaflet JavaScript library -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

    <script>
    // Initialize the map
    var map = L.map('map').setView([{{ coords[0] }}, {{ coords[1] }}], 13);

    // Add a tile layer to the map
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
    }).addTo(map);

    // Add a marker to the map
    L.marker([{{ coords[0] }}, {{ coords[1] }}]).addTo(map);
    </script>
