<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Votre potager</title>
    <link rel="stylesheet" href="/static/css/potager.css"/>
</head>
<body>
{% include "navBar.html" %}
<main>
    <div class="informations">
        <p>{{session.name}}, vous pouvez ici voir les parcelles auxquelles vous avez accès.</p>
    </div>
    {%for j in parametres%}
    <div class="parcelle">
        <div class="entete">
            <div class="border">
                <h2> Parcelle numéro {{j[3]}} dans le jardin {{j[4]}}</h2>
                <a href="/mesparcelles/{{j[3]}}">Gérer la parcelle</a>
                <a href="/users/{{j[4]}}">Voir les jardiniers du jardin {{j[4]}}</a>
            </div>

        </div>


        <div class="potager">

            <div class="imageMap">
                <map name="potager">
                    {% for polynome_txt in j[0] %}
                    <area shape="poly" coords={{ polynome_txt[0] }} href="/dico/{{ polynome_txt[1] }}"
                          alt="partie du potager"/>

                    {% endfor %}
                </map>
                <img usemap="#potager" src=static/images/images_potagers/{{ j[2] }} , alt="image de potager">
            </div>

            <div class="legende">

                <div class="titre">
                    <h3>Légende</h3>
                </div>

                <div class="corps">
                    {% for couple in j[1] %}
                    <div class="ligne">
                        <div class="carre" style="background:{{ couple[0] }}"></div>
                        <p style="padding-left: 20px"> {{ couple[1] }}</p>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    {%endfor%}

</main>

</body>
</html>