<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Votre potager</title>
    <link rel="stylesheet" href="/static/css/potager.css" />
</head>

<body>
    {% include "navBar.html" %}
    <main>
        <div class="informations">
            <p>{{session.name}}, bienvenue sur la page de votre potager.</p>
        </div>
        <h2> Parcelle numéro {{numero}} située dans le jardin {{id_jardin}}</h2>
        <div class="potager">

            <div class="imageMap">
                <map name="potager">
                    {% for polynome_txt in l_polynomes_txt %}
                    <area shape="poly" coords={{ polynome_txt[0] }} href="/dico/{{ polynome_txt[1] }}"
                        alt="partie du potager" />

                    {% endfor %}
                </map>
                <img usemap="#potager" src=../static/images/images_potagers/{{ chemin_image }} , alt="image de potager">
            </div>

            <div class="legende">

                <div class="titre">
                    <h3>Légende</h3>
                </div>

                <div class="corps">

                    {% for couple in l_legende %}
                    <div class="ligne">
                        <div class="carre" style="background: {{ couple[0] }}"></div>
                        <p style="padding-left: 20px"> {{couple[1]}} {{ couple[2][0] }}</p>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="en_bas">
            <div class="suggestion">
                <h2>Suggestion de plantes:</h2>
                <div class="rq">Indiquez où vous voulez placer une nouvelle plante, nous vous conseillons la plante la
                    plus adaptée par rapport à ce qu'il y a autour:</div>

                <div>
                    <!-- Le form de suggestion de plantes -->
                    <form action="/mesparcelles/{{numero}}" method="POST">

                        <label>x_plante:</label>
                        <input type="number" name="x_sugg" required min="0" max="{{longueur}}"
                            value="{{longueur/2}}"><br>
                        <label>y_plante:</label>
                        <input type="number" name="y_sugg" required min="0" max="{{largeur}}"
                            value="{{largeur/2}}"><br>
                        <input type="submit" value="Rechercher">
                    </form>

                    <!-- Et là paf l'algo il te donne des conseils (mettre un if d'as capté) -->
                    {%if x_sugg%}
                    Nous vous conseillons de mettre en x_plante={{x_sugg}} y_plante={{y_sugg}}:
                    {%for i in suggestion%}
                    <ul>{{i}}</ul>
                    {%endfor%}
                    {%endif%}
                </div>

            </div>
            <div class="ajout_plante">
                <h2>Ajoutez une plante dans votre parcelle:</h2>
                <form action="/mesparcelles/{{numero}}/ajouter_plante" method="GET">
                    <label>Nom de la plante:</label>
                    <select name="nom_plante">
                        {%for i in plantes%}
                        <option>{{i[0]}} {{i[1]}}</option>
                        {%endfor%}
                    </select><br>
                    <label>x_plante:</label>
                    <input type="number" name="x_plante" required min="0" max="{{longueur}}" value="{{longueur/2}}"><br>
                    <label>y_plante:</label>
                    <input type="number" name="y_plante" required min="0" max="{{largeur}}" value="{{largeur/2}}"><br>
                    <input type="submit" value="Ajouter une plante">
                </form>

            </div>
        </div>
    </main>

</body>

</html>