<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Votre potager</title>
</head>
<body>
<map name="potager">
    {% for polynome_txt in l_polynomes_txt %}
        <area shape="poly" coords={{polynome_txt[0]}} href="/id_plante/{{polynome_txt[1] }}" alt="partie du potager">

    {% endfor %}
</map>
<img usemap="#potager" src="/static/images/images_potagers/10.png", alt="image de potager">
</body>
</html>