<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/login.css" >
</head>
<body>
    <div class="nav">
        {% include "navBar.html" %}
    </div>

    <div class="main">
        <div class="connexion">
            {% include "login/signup.html" %}
            {% include "login/signin.html" %}
        </div>
        <img src="static/images/autres/potager.png" alt="potager">
    </div>
        
</body>
</html>