<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/login.css" />

</head>
<body>
    <div class="new-connexion">
        <p>Connexion</p>
        <form action="login" method="post">

            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="nom.prenom@exemple.com" required>

            <label for="pwd"></label>
            <input type="password" name="pwd" id="pwd"
                    minlength="8" maxlength="25"
                    autocomplete="new-password" 
                    placeholder="mot de passe"
                    required >
            
            <input type="submit" value="Connexion">

        </form>
    </div>
</body>
</html>