<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="/static/css/navBar.css" />
  </head>
  <body>
  
    <nav>

      <a href="#" class="nav-icon" aria-label="visit homepage" aria-current="page">
        <img src="/static/images/icons/panier-osier-isole_2829-18051.webp " alt="chat icon">
        <span>Le Bonheur Est Dans Le Potager<span>
      </a>

      <div class="main-navlinks">
        <button class="burger" type="button" aria-label="Toggle navigation" aria-expanded="false">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="navlinks-container">
          <a href="#" aria-current="page">Home</a>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
        </div>
      </div>

      <div class="nav-authentication">
        <a href="#" class="sign-user" aria-label="Sign in page">
          <img src="/static/images/icons/" alt="user-icon">
        </a>
        <div class="sign-btns">
          <button type="button">Sign In</button>
          <button type="button">Sign Up</button>
        </div>
      </div>
    </nav>


    

    <script src="/static/JS/navBar.js"></script>
  </body>
</html>
