<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les Jardiniers</title>
    <link rel="stylesheet" href="/static/css/users.css" />
</head>

<body>
    <div>
        <div class="nav">
            {% include "navBar.html" %}

            <div id="horizontal">
                <div id="vertical">
                    <div class="case">

                    
                    <div id="imgprof"></div>
                    <div id="affichagepropre">
                        <div id="msgBase"></div>
                        <ul><div id="nom"></div><div id="n"></div></ul>
                        <ul><div id="prenom"></div><div id="p"></div></ul>
                        <ul><div id="mail"></div><a href="mailto:{{data[3]}}" id="m"></a></ul>
                        <ul><div id="iduser"></div><div id="i"></div></ul>
                        <ul><div id="statut"></div><div id="s"></div></ul>
                        <ul><div id="jardins"></div><div id="j"></div></ul>
                        <ul><div id="parcelles"></div><div id="pa"></div></ul>
                        
                    </div>
                </div>
                </div>
                <div id="vertical">
                    {%if numero%}
                    <h2>Les jardiniers du jardin {{numero}}</h2>
                    {%else%}
                    <h2>Les jardiniers:</h2>
                    {%endif%}
                    <h3>Cliquez pour afficher un profil!</h3>

                    <table class="coord">

                        <tr>
                            <th>Noms</th>
                            <th>Statut</th>
                        </tr>
                        {%for data in data%}

                        <tr class="personne"
                            
                            onclick="afficherprofil('{{data[1]}}','{{data[2]}}','{{data[3]}}','{{data[0]}}','{{data[4]}}', '{{data[5]}}', '{{data[6]}}', '{{data[7]}}' )">
                            <td>{{data[2]}} {{data[1]}}</td></a>
                            <td>{{data[4]}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>

                <script>
                    var img = document.createElement("img");
                    var pasDeClick = new Boolean(true);
                    
                    if (pasDeClick){
                        document.getElementById('msgBase').textContent = "Cliquez sur une case pour afficher un profil!"
                        
                    }
                    function afficherprofil(nom, prenom, mail, iduser, statut, jardins, parcelles, chemin) {
                        
                        img.src = chemin;
                        img.style.width="20%";
                        img.style.marginBottom="3%";
            
                        var div = document.getElementById("imgprof");
                        div.appendChild(img);
                        document.getElementById('msgBase').textContent="";
                        document.getElementById('prenom').textContent = "Prénom: ";
                        document.getElementById('p').textContent = prenom;
                        document.getElementById('nom').textContent = "Nom: ";
                        document.getElementById('n').textContent = nom;
                        document.getElementById('mail').textContent = "Mail: ";
                        document.getElementById('m').textContent = mail;
                        document.getElementById('iduser').textContent = "Identifiant: ";
                        document.getElementById('i').textContent = iduser;
                        document.getElementById('statut').textContent = "Statut: ";
                        document.getElementById('s').textContent = statut;
                        document.getElementById('jardins').textContent = "Jardins administrés: ";
                        document.getElementById('j').textContent = jardins;
                        document.getElementById('parcelles').textContent = "Jardine dans ces parcelles: ";
                        document.getElementById('pa').textContent = parcelles;
                           
                    }
                </script>
</body>

</html>