
body{
    margin-top: 80px;
}

h2{
    margin-left: 5%;
}


select{
    padding: 2% 2%;
    font-size: large;
}
div.global{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}
div.case{
    padding: 2%;
}