::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: 0;
}

div.head {
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 10px 100px;
}

div.general {
    border: solid darkgreen 4px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

div.titre {
    font-size: large;
    margin: 10px;
}

div.partie1 {
    font-size: large;
}

div.parcelles, div.jardins {
    margin-top: 20px;
    border: solid darkgreen 4px;
    padding: 10px;
}

div.parcelle {
    font-size: large;
}

.parcelle .numero_parcelle {
    font-size: larger;
    margin: 5px auto;
    font-weight: bold;
    margin-left: 10px;
}

.id_jardin, .taille_parcelle, .nom, .prenom, .email{
    margin-left: 30px;
}


div.numjard{
    font-size: larger;
    font-weight: bold;
    margin: 10px;
}

div.contenujard{
    margin-left: 30px;
    font-size: 110%;
}

em.remarques{
    margin-left: 30px;
    color: rgb(70, 70, 70);
    font-size: medium;
    
}

.pdp{
    max-height: 180px;
    width: auto;
    margin-left: auto;
}

a.changementPhoto{
    text-align: center;
    margin-left: 30px;
    display: block;
    text-decoration: none;
    color: rgb(61, 61, 61);
    padding: 2% 5%;
    border: solid 2px rgb(80, 165, 99);
    border-radius: 2%;
}
a.changementPhoto:hover{
    color: white;
    background-color: rgb(80, 165, 99);
    transition-duration: 0.4s;
}

a.voirJardiniers{
    
    color: rgb(70, 145, 86);
    font-style: italic;
    font-weight:500;
    font-size: medium;
}
a.voirJardiniers:hover{
    color: rgb(51, 138, 73);
}


a.gerer{
    color: rgb(61, 61, 61);
    font-size: medium;
}