body {
    font-family: sans-serif;
    background: #f1f1f1;
    margin: 0;
    margin-top: 60px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Haut de la page avec les informations relatives à la personne */

div.informations {
    text-align: center;
    margin: 30px 30px;
    font-weight: bolder;
    font-size: 25px;
}

/* partie d'affichage de la map avec sa légende*/
div.parcelle {
    min-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid green 4px;
    margin: 30px;
    max-width: 80%;
}

div.entete {
    background: #C2CEBE;
}

.entete .border {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.entete .border h2 {
    padding-bottom: 2px;
}

.entete .border a {
    width: 500px;
    text-decoration: none;
    color: darkgreen;
    font-size: large;
    padding: 2px;
    margin: auto;
}

.entete .border a:hover {
    color: black;
    background: #DDDDDD;
}

/* partie MAP */
div.potager {
    width: 90%;
    display: flex;
    padding: 15px;
    margin: 15px auto;

}

.potager .imageMap {
    padding-right: 20px;
    border-right: solid lightgrey 2px;
    min-width: 70%;
    display: flex;
    justify-content: center;
}

.potager .imageMap img {
    border: solid black 1px;
    max-width: 90%;
}

/* Partie légende */

.potager .legende {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.legende .titre {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}

.legende .corps {
    padding-top: 30px;
}

.legende .corps .ligne {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

div.carre {
    width: 30px;
    height: 30px;
}

/* ajustement si la page est trop petite */

@media (max-width: 1200px) {
    .potager {
        flex-direction: column;
    }

    .potager .imageMap {
        border-right: None;
        border-bottom: solid lightgrey 2px;
        padding-right: 0;
        padding-bottom: 30px;
    }

    .potager .legende {
        padding-top: 30px;
    }
}


@media (max-width: 800px) {
    .informations p {
        font-size: 15px;
    }

    .legende .titre {
        font-size: 13px;
    }

}