footer{
    text-align: center;
    background-color: #49ad47;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
.alignementfoot{
    color: #f1f1f1;
    margin-top: 15px;
    display: inline-block;
    vertical-align: middle;
}